//grid


$mobile : 769px;
/* 최저 사이즈 320px */
$tablet : 1280px;
$pc : 1281px;

//모바일 화면 크기 769px 미만일 때
@mixin mobile {
    @media (max-width : $mobile ){
        @content;
    }
}




//타블릿 화면 크기 770px ~ 1280px 
@mixin tablet {
    @media (min-width :770px ) and ( max-width :$tablet){
        @content;
    }
}




//pc 화면 크기 1281px 이상
@mixin pc {
    @media (min-width : $pc){
        @content;
    }
}
